---
import Layout from "../layouts/Layout.astro";
import Logo from "../assets/logo-wp.svg";
import Button1 from "../components/Button1.astro";
import Button2 from "../components/Button2.astro";
---

<Layout title="Pagina Principal">
  <div class="min-h-screen w-full">
    {/* Volcanic Ember */}
    <div
      class="absolute inset-0 -z-10"
      style={{
        background: `
        radial-gradient(ellipse 140% 70% at 70% 80%, rgba(255, 136, 56, 0.13), transparent 52%),
        radial-gradient(ellipse 160% 45% at 30% 30%, rgba(138, 79, 40, 0.16), transparent 58%),
        radial-gradient(ellipse 85% 100% at 10% 60%, rgba(237, 169, 123, 0.15), transparent 46%),
        #1c1917
      `,
      }}
    >
    </div>
    {
      (
        <section class="flex flex-col items-center justify-center min-h-screen">
          <h1 class="text-stone-50 text-2xl text-center">
            Hosting simplificado con{" "}
            <>
              <br />
              <span class="bg-radial-[at_50%_95%] from-[#ffa366] via-[#ff8838] to-[#ff6600] to-100% text-transparent bg-clip-text font-bold text-5xl flex flex-row items-center justify-center gap-2">
                WIFIPREMIUM
                <Logo class="w-14 h-14" />
              </span>
            </>
          </h1>
          <div class="flex flex-row gap-3 mt-4">
            <Button1>Contactanos</Button1> <Button2>Ver planes</Button2>
          </div>
        </section>
      )
    }
  </div>
</Layout>
