<button class="px-4 py-2 rounded-3xl text-stone-950 bg-[#ff6600]/90 hover:bg-zinc-200 transition-colors duration-200 ease-in-out border border-[#ff6600] hover:border-zinc-50 font-medium">
  <slot />
</button>