---
import "../styles/global.css";
import "aos/dist/aos.css";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>WifiPremium</title>
    <script
      src="https://kit.fontawesome.com/f272f2a8c2.js"
      crossorigin="anonymous"></script>
  </head>
  <body>
    <slot />

    <script>
	  import AOS from "aos";
	  AOS.init();
    </script>
  </body>
</html>

<style></style>
